/* body styling*/
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f5e7;
    color: #333;
}

/* Header styling */
header {
    background-color: grey;
    padding: 20px;
    text-align: center;
}

header h1 {
    color:burlywood;
}
/* Navigation styling*/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}
/* hover for nav items*/ 
nav ul li:hover {
    transform: scale(1.1);

}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
/*colorful hover*/
nav a:hover{
    color: burlywood;
}
/* Main Content Sections */
main {
    padding: 20px;
    text-align: center;
}
main ul {
    list-style-type: none;
}

#schedule ul {
    list-style-type: none;
    padding: 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery img {
    border-radius: 20px;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Footer Styling */
footer {
    background-color:gray;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:burlywood;
}

/* Responsive Styling */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .gallery {
        flex-direction: column;
    }
}
